.mobile-h3 {
  font-size: 22px;
  font-weight: 500;
  color: $color-gray;
  line-height: 32px;
}

.body-xsmall {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.body-small {
  font-size: 14px;
  font-weight: 400;
  color: $color-gray;
}

.body-small-bold {
  font-size: 14px;
  font-weight: 600;
  color: $color-gray;
}

.body-default {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $color-gray;
}

.menu {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
